body{
	font-family: Arial, helvetica, sans-serif;
}

img{
	display: block;
}
.btn{
	border:3px solid #fec63e;
	padding: 10px 30px;
	color: #fec63e;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight:bold;
	letter-spacing: .1en;
}

.btn:hover{
	color: #000;
	border-color: #000;
	
}

.btn.btn_preto{
	line-height: 65px;
	
}
.btn.btn_preto:hover{
	color: #000;
	border-color: #000;
	
	
}

.subtitulo{
	padding: 20px;
	font-size: 24px;
	line-height: 40px; 
	font-weight: bold;
	letter-spacing: .1en;
	color: #000;
	text-transform: uppercase;
	text-align: center;  
	margin-bottom: 30px;

}

.subtitulo:after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background: #000;
	margin: 8px auto ;
}


/*Barra fixa*/
.header{
	position: fixed;
	top: 0;
	width: 100%;
	background: #000;
	padding: 9px 0;
}

.header_menu{
	text-align:right; 

}

.header_menu ul li{
	display: inline-block;
	margin-left: 20px;
	margin-top: 50px;
}

.header_menu ul li a{
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .2en;
	font-size: 17px;
	line-height: 25px;
	padding: 10px 0;
}

.header_menu ul li a:hover {
	color: yellow;
}

.header_menu ul li a .menu_ativo{
	color: yellow;
}

/*Introdução*/

.introducao-interna{
	padding: 30px;
    width: 100%;
	height: 400px;
	background: url(../img/contato.jpg) no-repeat center;
	background-size: cover;
	margin-top: 120px;
	text-align: center;
	padding-top: 70px;
	color: *000;
	letter-spacing: .1en
}

.introducao-interna h1{
	font-size: 35px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}

.introducao-interna h1:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 6px auto 10px auto ;
}

.introducao .container_2 {
	padding: 10px 20px 20px 20px;
}

.introducao h1 {
	font-size: 48px;
	color: #fec63e;
	font-weight: bold;
	text-transform: uppercase;
}

.contato{
	padding: 40px 0;
}

.form{
	padding-right: 60px;
}

.contato-form label{
	display: block;
	font-family: georgia,"Times new roman", serif;
	font-size: 18px;
	line-height: 25px;
	margin-top: 4px;
}

.contato-form input{
	display: block;
	width: 100%;
	border: 4px solid #fec63e;
	background:none;
	padding: 5px 10px;
	outline: none;
	font-size: 14px;
	font-family: georgia,"Times new roman", serif;
	margin-bottom: 10px;
}

.contato-form textarea{
	display: block;
	width: 100%;
	height: 120px;
	border: 4px solid #fec63e;
	background:none;
	padding: 5px 10px;
	outline: none;
	font-size: 14px;
	font-family: georgia,"Times new roman", serif;
	margin-bottom: 10px;
}

.form button{
	padding: 10px 40px;
	background: none;
}

.contato-dados{
	color: #fff;
}

.contato-dados h3{
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #fec63e;
	font-weight: bold;
	padding: 0 0 0 550px;
}

.contato-dados span{
	display: block;
	color: #000;
	font-size: 18px;
	font-family: georgia,"Times new roman", serif;
	line-height: 30px;
	padding: 0 0 0 550px;
}

.contato-dados span:nth-of-type(even){
	margin-bottom: 30px;
}
.dados-email{
	margin-bottom: 0px;
	padding: 40px 40px 60px 550px;
}

.contato-dados ul{
	padding: 10px 40px 60px 550px;
}

.contato-dados ul li {
	font-family: georgia,"Times new roman", serif;
	font-size: 14px;
	padding: 2px 8px;
}
.contato-dados ul li {
	display: inline-block;
	margin-right: : 5px;
}

.contato-dados ul li a {
	border: 3px solid #fec63e;
	display: block;
	padding: 3px;
	margin: 4px;
}

/*Imagem do mapa*/

.contato-mapa{
	margin-bottom: 60px;
}

.contato-dados ul li a:hover{
	border-color: #000;
}


.quote-externo{
	max-width: 320px;
	margin: 0 auto;	
	margin-bottom: 40px;
	color: #000;

}

.quote-externo p{
	font-size: italic;
}

/*befora cria antes
after cria depois*/

.quote-externo p:before, .quote-externo p:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 7px auto 5px auto;
}

.quote-externo cite{
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1en;
}


	

/*Quebra final da pagina*/
.quebra{
	width: 100%;
	height: 220px;
	background:  url("../img/paisagem_dog.jpg") no-repeat center;
	background-size: cover;
	text-align: center
	padding-top:20px;
}

.quebra-altura{
	background-size: 
}
.quebra .quote-externo{
	max-width: 350px;
	padding: 40px;
	text-align: center;
}


/*footer*/

.footer{
	width: 100%;
	height: 150px;
	background: #000;
	color: #fff;
	clear: both;
}

.footer h3{
	font-size:15px;
	line-height: 25px;
	color: #fec63e;
	text-transform: uppercase;
	letter-spacing: .1en;
	font-weight: bold;
	margin-top: 20px 10ps 10px 10px;
}

.footer h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fec63e
	
}

.footer_historia {
	margin-top: 15px;
	padding-right: 80px;
}
.footer_historia p {
	margin-top: 9px;
}

.footer_contatos{
	margin-top: 15px;
}
.footer_redes{
	margin-top: 15px;
}

.footer_contatos ul{
	margin-top: 9px;
}

.footer_contatos ul li {
	font-size: 14px;
	line-height: 20px;
	font-family: geogia,"times new roman". serif;
	
}
.footer_redes ul{
	margin-top: 9px;
}
.footer_redes ul li {
	display: inline-block;
	margin-right: : 10px;
}

.footer_redes ul li a {
	border: 3px solid #fec63e;
	display: block;
	padding: 3px;
	margin: 4px;
}

.footer_redes ul li a:hover{
	border-color: #fff;
}

.copy{
	width: 100%;
	background: #fec63e;
	padding: 15px;
}