/*IntroduÃ§Ã£o*/

.interna-sobre{
	padding: 30px;
    width: 100%;
	height: 400px;
	background: url(../img/akitainu4.jpg) no-repeat center;
	background-size: cover;
	margin-top: 120px;
	text-align: center;
	padding-top: 70px;
	color: *000;
	letter-spacing: .1en
}

.interna-sobre h1{
	font-size: 35px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}

.interna-sobre h1:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 6px auto 10px auto ;
}

.missao-sobre{
	height: 100px;
	padding: 60px 0 0 0 ; 
	clear: left;
}

.missao-sobre p{
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 1em;
	padding-right: 60px;
}

.missao-sobre ul li{
	font-size: 18px;
	line-height: 30px;
	font-family: Georgia, "times new roman", serif;
}

.foto-equipe img{
	padding-top: 30px;
	margin-left: 205;

}
.interna-sobre .container_2 {
	padding: 10px 20px 20px 20px;
}

.interna-sobre h1 {
	font-size: 48px;
	color: #fec63e;
	font-weight: bold;
	text-transform: uppercase;
}
.interno{
	margin-left:205px;
}

.subtitulo-interno{
	padding: 20px;
	font-size: 24px;
	line-height: 40px; 
	font-weight: bold;
	letter-spacing: .1en;
	color: #000;
	text-transform: uppercase;
}

.subtitulo-interno:after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background: #000;
	margin: 1px 0 ;
}
.qualidade{
	padding: 30px;
	margin: 550px 140px 0px 132px;
}

.subtitulo{
	margin-bottom: 10px;
}
.qualidade img{
	margin: 0 auto;
}

.qualidade_lista{
	padding-top: 20px;
	overflow: hidden;
	margin-top: 20px;
}

.qualidade_lista li{
	text-align: center;
	padding: 0 50px;
}

.qualidade_lista li h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: .1en;
	margin-top: 10px;
	 

}

.qualidade_lista li h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 6px auto ;

}

.qualidade:after {
	content: "";
	width: 634px;
	height: 83px;
	display: block;
	background: url("../img/linhas.svg") no-repeat center;
	position: absolute;
	top: 1408px ;
	right: 355px;
	z-index: -1;
}
	
.subtitulo-interno{
	padding: 20px;
	font-size: 24px;
	line-height: 40px; 
	font-weight: bold;
	letter-spacing: .1en;
	color: #000;
	text-transform: uppercase;
	

}

.subtitulo-interno:after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background: #000;
	margin: 1px 0 ;
}

.quote-externo{
	max-width: 320px;
	margin: 0 auto;	
	margin-bottom: 40px;
	color: #000;
}

.quote-externo p{
	font-size: italic;
}

/*befora cria antes
after cria depois*/

.quote-externo p:before, .quote-externo p:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 7px auto 5px auto;
}

.quote-externo cite{
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1en;
}



